@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);

body {
  font-family: 'Berkshire Swash', 'Lucida Bright', Georgia, serif;
}
.header {
  font-size: 55px;
  text-align: center;
  color: white;
}
.headerBackground {
  background-image: url("assets/bamboo.jpg");
  padding: 12px 0;
}
svg {
  margin-top: 30px;
}
h2:nth-child(even){
  background-color: #ffb6c1; 
}
h2:hover, .shumai:hover, .shrimp:hover, .xiaolongbao:hover{
  background-color: #add8e6;
  cursor: pointer; 
}

.dumView, .statsView, .feedView, .playView, .chooseView{
  float: left;
  padding: 10px;
  background-color: #98ff98; 
  margin-bottom: 50px;
}
.name {
  float: left;
  padding: 10px; 
}
.name:hover{
  background-color: white;
}
.stats {
  float: left;
  padding: 0px 5px;
  background-color: white;
  margin-left: 10px;  
}

.dumImg {
  margin-top: 100px;
  /*margin-left: -300px;*/
}
.game, .food {
  z-index: 10;
  margin-top: 100px;
}
.selections {
  padding-top: 100px;
  padding-left: 100px;
  width: 120px;
}